:host{
  display:flex;
  flex-direction:column;
  height:100vh;
  align-items: center;
  justify-content: center;
  row-gap: 2em;
}

button{
  padding: 1em;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
